<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">

</head>
<body>
    <style>
        body{
            background-color: #fff2e5;
            background-image: url("/public/css/bck.jpg");
            background-size: cover;
            
        }
        .container{
            display: flex;
            justify-content: space-around;

        }
        nav{
            padding: 1rem;
        }
        nav ul{
            list-style-type: none;
            padding: 5px;
            margin: 20px 50px 40px 50px;
            display: flex;
            justify-content: space-around;
        }
        li{
            margin: 30px;
            padding: 10PX;
        }
        nav a{
            
            text-decoration: none;
            font-size: 1rem;
        }
        a:hover{
            background-color: #eb9788;
        }
    </style>
    
    <div class="container">
        
        <nav>
           <ul>
                <li>US - CAFE</li>
                <li><a href="">HOME</a></li>
                <li><a href="">MENU</a></li>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">EVENTS</a></li>
                <li><a href="">CONTACT</a></li>
                <li><a href="">RESERVATIONS</a></li>
            
           </ul>
        </nav>


    </div> 
    
</body>
</html>