/* styles.css */
.abc{
    background-color: #152cdc;
    padding: 20px;
    height: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

}
body{background-color: blue;}

h1{
    color: chartreuse;
}