<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
</head>
<body>

    <body>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url("/public/css/annie-spratt-R3LcfTvcGWY-unsplash.jpg");
            background-size: cover;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #D977c7;

        }
        h1,h2{
            text-align: center;
            color: #0e0d13;
        }
        .new{
            text-align: center;
        }
        .abc{
            
            display: block;
            border-radius: 10px;
            border-color: rgb(144, 0, 0);
            height: auto;
            width: 400px;
            justify-content: space-evenly;
            background-color: #fb0df7;
            padding: 20px;
            height: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        .abc label{
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
        }
        .abc input{
            width: 95%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #241010;
            border-radius: 4px;
        }
        .submit{
            width: 100%;
            padding: 10px;
            
            color: #c438cc;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        
    </style>
    <h1>FINE-DINE-SHINE</h1>
    <div class="abc">   

        <h2>LOGIN HERE</h2>
        <form action="/login" method="post">
        <label for="username">USERNAME:</label>
        <input type="text" name="name" placeholder="Name">
        <label for="username">PASSWORD:</label>
        <input type="password" name="password" placeholder="Password">
        <div class="submit"><input type="submit"></div>
        </form>
    
    
        <div class="new">New Here?
            <a href="/signup">Sign Up</a>
        </div>
    </div>
</body>
</html>